<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ app.name }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/{{ app.theme }}.css?{{ app.version }}" />
        <link rel="icon" href="{% block favicon %}/favicon.ico{% endblock %}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>
            {% block footer %}
                <div class="t-center px-16 pb-27">
                <form name="namespace" action="{{ path('main_index') }}" method="GET">
                    <input  class="p-8"
                            type="text"
                            name="search"
                            value="{{ request.get('search') }}"
                            placeholder="{{ 'key, value, block, ns, txid' | trans }}"
                            autocomplete="off" />
                    {#<button class="p-8 cursor-pointer" type="submit">{{ 'Search' | trans }}</button>#}
                </form>
            </div>
            <div class="t-center px-16 pb-27">
                <div class="pb-16 f-s-12 c-1">
                    <a href="https://github.com/kvazar-network/webapp">{{ 'KVAZAR Webapp' | trans }}</a>
                    {{ 'is content explorer for' | trans }}
                    <a href="https://kevacoin.org">{{ 'Kevacoin Blockchain' | trans }}</a>.
                </div>
                <div class="f-s-12 c-1">
                    {{ 'Sources distributed under the MIT License. Ownership of all content belongs to the authors.' | trans }}
                </div>
            </div>
        {% endblock %}
        </footer>
    </body>
</html>
