{% extends 'default/layout.html.twig' %}
{% block title %}{% if title %}{{ title }} - {% endif %}{% if request.get('part') > 1 %}{{ 'Part' | trans | upper }} {{ request.get('part') }} - {% endif %}{{ app.name }}{% endblock %}
{% block favicon %}<link rel="icon" href="{{ request.get('namespace') | jIdenticon }}" />{% endblock %}
{% block body %}
    <div class="t-center px-16 pt-54">
        <div class="mx-a mw-560 px-16">
            <div class="mb-20">
                <a class="logo f-s-20 c-0" href="{{ path('main_index') }}">{{ app.name }}</a>
            </div>
            <div class="mx-a mw-560 px-16 pb-16">
                <img class="br-50 shine" src="{{ request.get('namespace') | jIdenticon }}" alt="{{ request.get('namespace') }}" />
            </div>
            {% if title %}
                <div class="mb-36 c-1">
                    {{ title }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="t-center px-16 pb-36">
        <div class="b-g"></div>
    </div>
    {% for record in records %}
        <div class="t-center px-16">
            <div class="mx-a mw-560 px-16">
                <a class="d-block" href="{{ path('main_transaction',{'transaction':record.transaction}) }}">
                    <div class="f-s-16 mb-16 of-a">
                        {{ record.key | format_type(record.type.key) }}
                    </div>
                    <div class="mb-20 of-a">
                        {{ record.value | format_type(record.type.value) }}
                    </div>
                    <div class="f-s-12">
                        {{ record.time | format_date }} {{ 'in' | trans }} {{ record.block }}
                    </div>
                </a>
            </div>
        </div>
        <div class="t-center px-16 py-27">
            <div class="b-g"></div>
        </div>
    {% endfor %}
    <div class="t-center pt-16 pb-27">
        {% if request.get('part') > 1 %}
            <a rel="nofollow" href="{{
            path(
                'main_namespace',
                {
                    'part':request.get('part') - 1,
                    'search':request.get('search'),
                    'namespace':request.get('namespace')
                }
            ) }}">{{ 'newer' | trans }}</a>
            |
        {% endif %}
        <a rel="nofollow" href="{{
            path(
                'main_namespace',
                {
                    'part':(request.get('part') ? request.get('part') : 1) + 1,
                    'search':request.get('search'),
                    'namespace':request.get('namespace')
                }
            ) }}">{{ 'older' | trans }}</a>
    </div>
    <div class="t-center px-16">
        <div class="pb-16 f-s-12">
            <a href="{{ path('main_namespace',{'namespace':request.get('namespace'),'mode':'rss'}) }}">{{ 'RSS' | trans }}</a>
        </div>
    </div>
{% endblock %}